<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Member Information Update Page</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body class="d-flex flex-column">
<!--header-->
<header class="header" th:replace="~{fragments/header :: header}"></header>

<br><br>

<!--Join Form-->
<div class="container d-flex justify-content-center align-items-center flex-grow-1">
    <div class="col-12 col-md-6 col-lg-4 card">
        <div class="card-body">
            <h2 class="text-center">Member Information Update</h2>

            <form th:action="@{/members/info/update}" th:object="${updateForm}" method="post">
                <!-- Hidden ID Field -->
                <input type="hidden" th:field="*{id}">

                <div class="form-floating mb-3">
                    <input class="form-control" id="join-username" th:value="${onlyRead.username}" type="text" required=""
                           readonly>
                    <label for="join-username">Username</label>
                </div>

                <!--nickname 수정가능-->
                <div class="form-floating">
                    <input class="form-control is-valid" id="join-nickname" th:field="*{nickname}" type="text"
                           required="">
                    <label for="join-nickname">Nickname</label>
                </div>

                <!--email 수정가능-->
                <div class="form-floating">
                    <input class="form-control is-valid" id="join-email" th:field="*{email}" type="email" required="">
                    <label for="join-email">Email</label>
                </div>

                <!--phone 수정가능-->
                <div class="form-floating mb-3">
                    <input class="form-control is-valid" id="join-phone" th:field="*{phone}" type="text" required="">
                    <label for="join-phone">Phone</label>
                </div>

                <div class="form-floating">
                    <input class="form-control" id="join-createdAt" th:value="${onlyRead.createdAt}" type="text" required=""
                           readonly>
                    <label for="join-createdAt">Created At</label>
                </div>

                <div class="form-floating">
                    <input class="form-control" id="join-updatedAt" th:value="${onlyRead.updatedAt}" type="text" required=""
                           readonly>
                    <label for="join-updatedAt">Updated At</label>
                </div>

                <div>
                    <button type="submit" class="btn btn-primary">수정사항 저장</button>
                </div>
            </form>

        </div>
    </div>
</div>


<!--footer-->
<footer class="footer" th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>